<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type="text/css" href="page1.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <h1><i class="fas fa-edit"></i> To Do App</h1>
        </header>
        <div id="description">
            <p><b>DESCRIPTION</b></p>
            <form method="POST" action="create-description">
                <input type="text" name="description" placeholder="What do you need to do?">
            </form>
        </div>


    </body>

</html>