body{
    margin: 0;
    text-align: center;
    width: 35rem;
    margin: 1px auto;
}
#division-para{
    margin: 0px;
    font-size: 0.8rem;
    color: black;
    font-family: sans-serif;
    margin-right: 5px;
}
/*----------Description-row----------*/
#description{
    box-sizing: border-box;
    border: 0px solid transparent;
    text-align: start;

}
input:focus {
    outline:none;
    width: 35rem;
}
/*-----------second-row---------------*/
#second-row{
    display: flex;  
}
#category-div{
    width: 50%;
    margin: 1px auto;
}
#category{
    border: 0px solid transparent;
    width: 15rem;
    font-family: sans-serif;
    font-weight: 600;
    color: darkslategray;
}
#category:focus{
    outline: none; 
}
#due-date-div{
    width: 50%; 
}
#due-date-input{
    border: 0px solid transparent;
    width: 15rem;
}
#third-row{
    display: flex;
}
#add-task{
    width: 50%;
    height: 2.5rem;
    text-align: end;
    margin-right: 10px;
}
#delete-task{
    width: 50%;
    height: 2.5rem;
    text-align: start;
    margin-left: 10px;

}
/*-----------third-row-----------*/
.button{
    height: 2.5rem;
    vertical-align: middle;
    width: 10rem;
    border: 0.5px solid black;
}
.add-task-icon{
    background-color: rgb(20, 20, 20);
    color: white;
}
.delete-task-icon{
    background-color: rgb(241, 25, 25);
    color: white;
}